<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>yougrade</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Floats>
    <string>Bottles</string>
    <string>Bottles.Deployers.IIS</string>
    <string>Bottles.Deployment</string>
    <string>Bottles.Tools</string>
    <string>FubuCore</string>
    <string>FubuLocalization</string>
    <string>FubuMVC.Localization</string>
    <string>FubuMVC.Media</string>
    <string>FubuMVC.Navigation</string>
    <string>FubuMVC.Validation</string>
    <string>FubuValidation</string>
    <string>FubuMVC.Spark</string>
    <string>FubuMVC.StructureMap</string>
    <string>FubuMVC.Core</string>
    <string>FubuMVC.Core.Assets</string>
    <string>FubuMVC.Core.UI</string>
    <string>FubuMVC.Core.View</string>
    <string>FubuMVC.Diagnostics</string>
    <string>FubuMVC.ContentExtensions</string>
    <string>FubuMVC.Authentication</string>
    <string>FubuMVC.JQueryUI</string>
    <string>FubuMVC.SlickGrid</string>
    <string>FubuMVC.TwitterBootstrap</string>
    <string>FubuTestingSupport</string>
    <string>HtmlTags</string>
    <string>Milkman</string>
    <string>Storyteer</string>
    <string>Storyteller</string>
  </Floats>
</ripple>