<fubu-localization>
  <string key="DiagnosticKeys:ApplicationStartup">Application Startup</string>
  <string key="DiagnosticKeys:ModelBindingExplorer">Model Binding Explorer</string>
  <string key="DiagnosticKeys:Requests">Requests</string>
  <string key="DiagnosticKeys:Routes">Routes</string>
  <string key="DiagnosticKeys:Services">Services</string>
  <string key="DiagnosticKeys:ServicesByName">Services by Name</string>
  <string key="DiagnosticKeys:ServicesBySource">Services by Source</string>
  <string key="FubuMVC.Authentication.LoginRequest:Password:Header">Password</string>
  <string key="FubuMVC.Authentication.LoginRequest:UserName:Header">User Name</string>
  <string key="Globals::BeginTest">Begin</string>
  <string key="Globals::GoBack">Go Back</string>
  <string key="Globals::Home">Home</string>
  <string key="Globals::NextQuestion">Next Question</string>
  <string key="Globals::PreviousQuestion">Previous Question</string>
  <string key="Globals::Question">Question</string>
  <string key="Globals::QuizDetails">Quiz Details</string>
  <string key="Globals::ReturnToHome">Return to Home</string>
  <string key="Globals::TakeTest">Take Test</string>
  <string key="Globals::ViewResults">Finish and View Results</string>
  <string key="Navigation:Default:Home">Home</string>
  <string key="NavigationKey:Log Out">Log Out</string>
</fubu-localization>