<fubu-localization>
  <string key="FubuMVC.Authentication.LoginRequest:Password:Header">Password</string>
  <string key="FubuMVC.Authentication.LoginRequest:UserName:Header">User Name</string>
  <string key="Navigation:Default:Home">Home</string>
  <string key="NavigationKey:Log Out">Log Out</string>
</fubu-localization>